<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.plugin.espressif.market.commands.category"
            name="Espressif Market Category">
      </category>
      <command
            categoryId="org.plugin.espressif.market.commands.category"
            name="Espressif Catalog"
            id="org.plugin.espressif.market.commands.catalogCommand">
      </command>
      <command
              categoryId="org.plugin.espressif.market.commands.category"
              name="Espressif Browser"
              id="org.plugin.espressif.market.commands.browserCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.plugin.espressif.market.handlers.CatalogHandler"
            commandId="org.plugin.espressif.market.commands.catalogCommand">
      </handler>
      <handler
              class="org.plugin.espressif.market.handlers.BrowserHandler"
              commandId="org.plugin.espressif.market.commands.browserCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.plugin.espressif.market.menus.marketeMenu"
               label="Espressif Market Menu"
               mnemonic="M">
            <command
                  commandId="org.plugin.espressif.market.commands.catalogCommand"
                  id="org.plugin.espressif.market.menus.catalogCommand"
                  mnemonic="S">
            </command>
            <command
                    commandId="org.plugin.espressif.market.commands.browserCommand"
                    id="org.plugin.espressif.market.menus.browserCommand"
                    mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
