<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.plugin.espressif.catalog.commands.category"
            name="Espressif Catalog Category">
      </category>
      <command
            categoryId="org.plugin.espressif.catalog.commands.category"
            name="Browse Espressif Catalog"
            id="org.plugin.espressif.catalog.commands.browseCommand">
      </command>
      <command
              categoryId="org.plugin.espressif.catalog.commands.category"
              name="Add Espressif Item"
              id="org.plugin.espressif.catalog.commands.addItemCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.plugin.espressif.catalog.handlers.CatalogHandler"
            commandId="org.plugin.espressif.catalog.commands.browseCommand">
      </handler>
      <handler
              class="org.plugin.espressif.catalog.handlers.AddItemHandler"
              commandId="org.plugin.espressif.catalog.commands.addItemCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.plugin.espressif.catalog.menus.catalogMenu"
               label="Espressif Catalog"
               mnemonic="M">
            <command
                    commandId="org.plugin.espressif.catalog.commands.addItemCommand"
                    id="org.plugin.espressif.catalog.menus.addItemCommand"
                    mnemonic="S">
            </command>
            <command
                  commandId="org.plugin.espressif.catalog.commands.browseCommand"
                  id="org.plugin.espressif.catalog.menus.browseCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
